#training{
    background-image: url('../../images/fond-formation.jpg');
    min-height: 100vh;
    background-size: cover;
    font-family: 'AvenirLTStd-Roman';

}

.training__content{
    padding-top: 50px;
}

.training__grid{
    padding-top: 67px;
    width: 90%;
    margin: auto;
}
