.text-container{
    background-color: rgba(220,152,91, 0.82);
    padding: 7px;
    font-family: 'AvenirLTStd-Roman';
    color: #ffffff;
    font-size: 1em;
    width: 70%;
    margin: auto;
    text-align: center;
    margin-top: 60px;
}