.menu-button {
    height: 36px;
    margin-right: 40px;
    padding: 39px;
}

.menu-button:hover {
    background-color: rgba(255, 255, 255, 0.56);
}

.menu-button a {
    font-family: 'AvenirLTStd-Roman';
    text-transform: uppercase;
    color: #ffffff;
    font-size: 20px;
    white-space: nowrap;
}

.menu-button--active {
    background-color: rgba(255, 255, 255, 0.56);
}