.programCard{
    margin-top: 40px;
    padding-bottom: 40px;
}

.programCard__grid{
    min-height: 550px;
}

.programCard__left {
    background-color: #D68847;
    height: 100%;
    padding-bottom: 5px;

}

.programCard__right {
    background-color: #D68847;
    border-left: 6px solid #EFD6C7;
    height: 100%;
    padding-bottom: 5px;
}

.programCard__title {
    font-family: 'AvenirLTStd-Roman';
    text-transform: uppercase;
    color: #ffffff;
    font-size: 1.9em;
    font-weight: bolder;
}

.programCard__subTitle{
    padding-left: 10px;
    font-family: 'AvenirLTStd-Roman';
    text-transform: uppercase;
    color: #D68847;
    font-size: 1em;
    font-weight: bolder;
    height: 25px;
    line-height: 27px;
}

.programCard__elements {
    background-color: transparent;
    font-family: 'AvenirLTStd-Roman';
    text-transform: capitalize;
    color: #ffffff;
    font-size: .85em;
    font-weight: bolder;
    padding: 2px 0 2px 25px;
}

.programCard_header{
    background-color: #EFD8C7;
    width: 98%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
}

.programCard__checkbox {
    margin-left: auto;
}

.programCard_header label{
    cursor: pointer;
}