.trainingDetailsCard{
    padding: 60px;
}


.trainingDetailsCard__grid{
    min-height: 239px;
}


.trainingDetailsCard__square{
    width: 100%;
    height: 360px;
    padding: 15px;
}

.trainingDetailsCard__square.trainingDetailsCard__square-lang{
    background-color: #BC6428;
}

.trainingDetailsCard__square-title{
    font-family: 'AvenirLTStd-Roman';
    text-transform: uppercase;
    color: #ffffff;
    font-size: 28px;
    font-weight: bolder;
}

.trainingDetailsCard__square-content{
    font-family: 'AvenirLTStd-Roman';
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
}

.trainingDetailsCard__square.trainingDetailsCard__square-period{
    background-color: #DC985B;
    background-image: url('../../images/5jours.png');
    background-position: center;
    background-repeat: no-repeat;
}

.trainingDetailsCard__square-period-text-1{
    font-family: 'AvenirLTStd-Roman';
    text-transform: uppercase;
    color: #ffffff;
    font-size: 56px;
    font-weight: bolder;
    text-align: center;
}

.trainingDetailsCard__square-period-text-2{
    font-family: 'AvenirLTStd-Roman';
    text-transform: uppercase;
    color: #ffffff;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    line-height: 33px;

}

.trainingDetailsCard__square-period-text-3{
    font-family: 'AvenirLTStd-Roman';
    text-transform: uppercase;
    color: #ffffff;
    font-size: 27px;
    font-weight: bolder;
    text-align: center;
    line-height: 25px;

}

.trainingDetailsCard__square-period-text-4{
    font-family: 'AvenirLTStd-Roman';
    text-transform: uppercase;
    color: #ffffff;
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    line-height: 25px;
    margin-top: 25px;
}

.trainingDetailsCard__square.trainingDetailsCard__square-obj{
    background-color: #C19470;
    background-image: url('../../images/objectif.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.trainingDetailsCard__square.trainingDetailsCard__square-public{
    background-color: rgb(85, 38, 0);
    background-image: url('../../images/public.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.trainingDetailsCard__square.trainingDetailsCard__square-satisfaction{
    background-color: rgb(92, 67, 46);
    background-image: url('../../images/satisfaction.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}

.trainingDetailsCard__square.trainingDetailsCard__square-satisfaction .trainingDetailsCard__square-content span{
    font-size: 1.6em;
    font-weight: bolder;
    color: rgb(0, 255, 157);
}
.trainingDetailsCard__square.trainingDetailsCard__square-requirements{
    background-color: #ca8b61;
    background-image: url('../../images/prequis.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.trainingDetailsCard__square.trainingDetailsCard__square-requirements:hover, .trainingDetailsCard__square.trainingDetailsCard__square-satisfaction:hover, .trainingDetailsCard__square.trainingDetailsCard__square-obj:hover, .trainingDetailsCard__square.trainingDetailsCard__square-public:hover
, .trainingDetailsCard__square.trainingDetailsCard__square-period:hover, .trainingDetailsCard__square.trainingDetailsCard__square-lang:hover {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);

}
