.back-button{
    width: 151px;
    height: 51px;
    line-height: 51px;
    background-color: rgba(220,152,91, 0.82);
    margin-bottom: 10px;
    position: fixed;
    margin-left: -2rem;
}

.back-button a {
    font-family: 'AvenirLTStd-Roman';
    text-transform: uppercase;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}