#formation-content{
    background-image: url('../../images/fond-prog.jpg');
    min-height: 100vh;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: 'AvenirLTStd-Roman';
    position: static;
}

.home-btn {
    width: 131px;
    height: 51px;
    line-height: 51px;
    background-color: rgba(220,152,91, 0.82);
    margin-top: 100px;
    position: fixed;
    z-index: 1;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

.home-icon{
    background-image: url("../../images/home-icon.svg");
    background-repeat: no-repeat;
    padding: 4px 10px 0 10px;
    margin: 10px;
}