.navBar {
    width: 100%;
    height: 78px;
    background-color: rgba(220,152,91, 0.82);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}

.navBar__logo {
    width: 224px;
    height: 78px;
    margin-left: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.navBar__phone {
    margin-left: auto;
    margin-right: 25px;
    font-family: 'AvenirLTStd-Roman';
    text-transform: uppercase;
    color: #ffffff;
    font-size: 1.6em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.tel-logo{
    line-height: 78px;
    margin: 0 5px;
}