#formation{
    background-image: url('../../images/fond-prog.jpg');
    min-height: 100vh;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: 'AvenirLTStd-Roman';
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}

.formation__card-container{
    margin-top: 70px;
}

.formation__title{
    text-transform: uppercase;
    font-size: 2em;
    margin-top: 70px;
    background-color: rgba(255, 255, 255, .58);
    padding: 10px;
    color:#7C5132;
    font-weight: bold;
    font-family: 'AvenirLTStd-Roman';
    letter-spacing: 1px;
}

.card.formation__info-card-python{
    background-image: url('../../images/formation_python.jpg');
    background-size: cover;
    max-width: 450px;
    height: 300px;
    margin: 10px auto;
    -webkit-box-shadow: 0px 4px 17px -6px #000000; 
    box-shadow: 0px 4px 17px -6px #000000;
}

.card.formation__info-card-python:hover,
.card.formation__info-card-docker:hover,
.card.formation__info-card-django:hover,
.card.formation__info-card-react:hover,
.card.formation__info-card-git:hover
{
    transform: scale(1.07) ;
    transition: all .1s ease-in-out;
}

.card.formation__info-card-docker:hover .formation__content-card-docker, 
.card.formation__info-card-python:hover .formation__content-card-python, 
.card.formation__info-card-django:hover .formation__content-card-django,
.card.formation__info-card-react:hover .formation__content-card-react,
.card.formation__info-card-git:hover .formation__content-card-git  {
    background: rgba(33, 37, 49, .4);
}

.formation__content-card-title{
    color: rgb(255, 115, 0);
    font-family: 'AvenirLTStd-Roman';
    text-transform: uppercase;
    font-size: 2.3em;
    font-weight: bolder;
    text-align: center;
    position: absolute;
    top: 60%;
    left: 45%;
    letter-spacing: 1px;
}
.card.formation__info-card-docker{
    background-image: url('../../images/formation_docker.jpg');
    background-size: cover;
    max-width: 450px;
    height: 300px;
    margin: 10px auto;
    -webkit-box-shadow: 0px 4px 17px -6px #000000; 
    box-shadow: 0px 4px 17px -6px #000000;    
}

.formation__more-infos-btn{
    position: absolute;
    top: 25%;
    background-color:  rgb(136, 69, 14);
    color: #fff;
    font-family: 'AvenirLTStd-Roman';
    text-transform: uppercase;
    font-size: .8em;
    padding: 5px;
    cursor: pointer;
}

.formation__more-infos-btn:hover{
    background-color:  rgb(236, 155, 89);
}

.formation__content-card-python, .formation__content-card-docker, .formation__content-card-django, .formation__content-card-react, .formation__content-card-git{
    height: 100%;
    width: 100%;
    background: linear-gradient(to right bottom, rgba(33, 37, 49, .4)50%, rgba(255, 255, 255, 0.6)  50%);
    position: relative;
}

.card.formation__info-card-django{
    background-image: url('../../images/formation_django.jpg');
    background-size: cover;
    max-width: 450px;
    height: 300px;
    margin: 10px auto;
    -webkit-box-shadow: 0px 4px 17px -6px #000000; 
    box-shadow: 0px 4px 17px -6px #000000;
}

.card.formation__info-card-react {
    background-image: url('../../images/formation_react.jpeg');
    background-size: cover;
    max-width: 450px;
    height: 300px;
    margin: 10px auto;
    -webkit-box-shadow: 0px 4px 17px -6px #000000; 
    box-shadow: 0px 4px 17px -6px #000000;
}

.card.formation__info-card-git {
    background-image: url('../../images/formation_git.jpeg');
    background-size: cover;
    max-width: 450px;
    height: 300px;
    margin: 10px auto;
    -webkit-box-shadow: 0px 4px 17px -6px #000000; 
    box-shadow: 0px 4px 17px -6px #000000;
}