#program{
    background-image: url('../../images/fond-prog.jpg');
    min-height: 100vh;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: 'AvenirLTStd-Roman';
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}

.program__card-container{
    margin-top: 120px;
}

.program__title{
    text-transform: uppercase;
    font-size: 2em;
    margin-top: 70px;
    background-color: rgba(255, 255, 255, .58);
    padding: 10px;
    color:#7C5132;
    font-weight: bold;
    font-family: 'AvenirLTStd-Roman';
    letter-spacing: 1px;
}

.card.program__info-card-python{
    background-image: url('../../images/program_python.jpg');
    background-size: cover;
    max-width: 450px;
    height: 300px;
    margin: 10px auto;
    -webkit-box-shadow: 0px 4px 17px -6px #000000; 
    box-shadow: 0px 4px 17px -6px #000000;
}

.card.program__info-card-python:hover, .card.program__info-card-docker:hover{
    transform: scale(1.07) ;
    transition: all .1s ease-in-out;
}

.card.program__info-card-docker:hover .program__content-card-docker, .card.program__info-card-python:hover .program__content-card-python  {
    background: rgba(33, 37, 49, .4);
}

.program__content-card-python{
    height: 100%;
    width: 100%;
    margin-left: auto;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.6) 50%, rgba(33, 37, 49, .4) 50%);
    position: relative;
}

.program__content-card-title{
    color: rgb(255, 115, 0);
    font-family: 'AvenirLTStd-Roman';
    text-transform: uppercase;
    font-size: 2.3em;
    font-weight: bolder;
    text-align: center;
    position: absolute;
    top: 60%;
    left: 45%;
    letter-spacing: 1px;
}
.card.program__info-card-docker{
    background-image: url('../../images/program_docker.jpg');
    background-size: cover;
    max-width: 450px;
    height: 300px;
    margin: 10px auto;
    -webkit-box-shadow: 0px 4px 17px -6px #000000; 
    box-shadow: 0px 4px 17px -6px #000000;
}

.program__content-card-docker{
    height: 100%;
    width: 100%;
    background: linear-gradient(to right bottom, rgba(33, 37, 49, .4)50%, rgba(255, 255, 255, 0.6)  50%);
    position: relative;
}

.program__more-infos-btn{
    position: absolute;
    top: 25%;
    background-color:  rgb(136, 69, 14);
    color: #fff;
    font-family: 'AvenirLTStd-Roman';
    text-transform: uppercase;
    font-size: .8em;
    padding: 5px;
    cursor: pointer;
}

.program__more-infos-btn:hover{
    background-color:  rgb(236, 155, 89);
}