@font-face {
    font-family: 'AvenirLTStd-Roman';
    font-weight: 500;
    font-style: normal;
    src: local('AvenirLTStd-Roman'), url(./fonts/AvenirLTStd-Roman.otf) format('opentype');
  }


  .scrolling-box{
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 100vh;

  }